<ion-view view-title="Entry">
	<ion-content>
		<div class="padding">
			<h2>{{entry.title}}</h2>
			<span ng-bind-html="entry.trophy_display"></span>
			&emsp;
			<span ng-bind-html="entry.rank_display"></span>
			&emsp;
			<span ng-bind-html="entry.score_display"></span>
		</div>
		<ion-list>
			<ion-item class="item-avatar item-icon-right" href="#/tab/{{api_botbr_url}}/{{entry.botbr.id}}">
				<div class="item-avatar-container" style="background-color:{{entry.botbr.aura_color}}">
					<img ng-src="{{entry.botbr.avatar_url}}">	
				</div>
				<h3>{{entry.botbr.name}}</h3>
				<span ng-bind-html="entry.botbr.class_icon"></span>
				Level {{entry.botbr.level}} {{entry.botbr.class}}
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
		<div ng-if="entry.medium == 0">
			<a class="button button-positive icon-left ion-play" ng-click="player.single(entry)">
				play now
			</a>
		</div>
		<div ng-if="entry.medium == 1">
			<div class="card">
				<div class="item item-image">
					<img ng-src="http://battleofthebits.org/player/Preview/{{entry.id}}/" ng-class="(entry.q==1) ? 'pixel_art' : ''">	
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
