<ion-view view-title="Battle Entries">
	<ion-content>
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entry in entries.items" type="item-text-wrap" href="#/tab/battle/entry/{{entry.id}}">
				<div class="item-avatar-container" style="background-color:{{entry.botbr.aura_color}}">
					<img ng-src="{{entry.botbr.avatar_url}}">
				</div>
				<h2>{{entry.botbr.name}} - {{entry.title}}</h2>
				<p>
					<img class="entry-format-icon" ng-src="{{entry.format.icon_url}}">
					&nbsp;
					<sub>&Sigma;</sub>{{entry.score}} 
					&nbsp;
					{{entry.rank}}<sup>th</sup>/<sub>{{entry.battle.entry_count}}</sub>
				</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll 
			on-infinite="entries.load_items()" 
			ng-if="entries.more" 
			distance="20%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
