<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Home Tab -->
  <ion-tab title="home" icon-off="ion-ios-browsers-outline" icon-on="ion-ios-browsers" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Battles Tab -->
  <ion-tab title="battles" icon-off="ion-ios-game-controller-a-outline" icon-on="ion-ios-game-controller-a" href="#/tab/battle">
    <ion-nav-view name="battle"></ion-nav-view>
  </ion-tab>
  
  <!-- Entries Tab -->
  <ion-tab title="entries" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/entry/recent">
    <ion-nav-view name="entry"></ion-nav-view>
  </ion-tab>
  
  <!-- BotBrs Tab -->
  <ion-tab title="botbrs" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/botbr/recent">
    <ion-nav-view name="botbrs"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
